<section class="ds-actor-header">
  <div class="ds-actor-header-shell">
    <div class="ds-header-image-cell">
      <div class="ds-header-image-box">
        <img
          class="ds-header-image"
          src="{{actor.img}}"
          alt="{{actor.name}}"
          data-action="editPortrait"
          title="Change portrait"
        />
      </div>
    </div>

    <div class="ds-header-main">
      <div class="ds-header-top-row">
        <div class="ds-header-name-cell">
          <input
            class="ds-header-name-input"
            type="text"
            name="name"
            value="{{actor.name}}"
            placeholder="Actor Name"
          />
        </div>

        <div class="ds-header-level-label-cell">
          {{extrafield1}}
        </div>

        <div class="ds-header-level-value-cell">
          <input
            class="ds-header-level-input"
            type="number"
            name="{{extrafield1Name}}"
            value="{{extrafield1Value}}"
            min="0"
            step="1"
          />
        </div>

        {{#if extrafield2}}
          <div class="ds-header-level-label-cell">
            {{extrafield2}}
          </div>

          <div class="ds-header-level-value-cell">
            <input
              class="ds-header-level-input"
              type="number"
              name="{{extrafield2Name}}"
              value="{{extrafield2Value}}"
              min="0"
              step="1"
            />
          </div>
        {{/if}}
      </div>

      <table class="ds-header-stats-table">
        <tr>
          <td class="ds-stat-label-cell">Move</td>
          <td class="ds-stat-label-cell">Fight</td>
          <td class="ds-stat-label-cell">Shoot</td>
          <td class="ds-stat-label-cell">Armour</td>
          <td class="ds-stat-label-cell">Will</td>
          <td class="ds-stat-label-cell">Health</td>
          <td class="ds-stat-divider-spacer-cell"></td>
          <td class="ds-stat-label-cell ds-stat-current-label-cell">Current</td>
        </tr>

        <tr>
          <td class="ds-stat-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input"
                type="number"
                name="system.stats.move"
                value="{{actor.system.stats.move}}"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>

          <td class="ds-stat-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input"
                type="number"
                name="system.stats.fight"
                value="{{actor.system.stats.fight}}"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>

          <td class="ds-stat-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input"
                type="number"
                name="system.stats.shoot"
                value="{{actor.system.stats.shoot}}"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>

          <td class="ds-stat-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input"
                type="number"
                name="system.stats.armour"
                value="{{actor.system.stats.armour}}"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>

          <td class="ds-stat-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input"
                type="number"
                name="system.stats.will"
                value="{{actor.system.stats.will}}"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>

          <td class="ds-stat-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input"
                type="number"
                name="system.stats.health.max"
                value="{{actor.system.stats.health.max}}"
                min="0"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>

          <td class="ds-stat-divider-cell">|</td>

          <td class="ds-stat-value-cell ds-stat-current-value-cell">
            <div class="ds-stat-stepper">
              <button type="button" class="ds-stat-step-btn" data-action="decrementField">-</button>
              <input
                class="ds-stat-input ds-stat-input-current"
                type="number"
                name="system.stats.health.current"
                value="{{actor.system.stats.health.current}}"
                min="0"
                step="1"
              />
              <button type="button" class="ds-stat-step-btn" data-action="incrementField">+</button>
            </div>
          </td>
        </tr>
      </table>

      <div class="ds-header-sub-row">
        {{#if subfield1Label}}
          <div class="ds-header-sub-field">
            <span class="ds-header-sub-label">{{subfield1Label}}</span>

            {{#if subfield1Name}}
              <input
                class="ds-header-sub-input"
                type="text"
                name="{{subfield1Name}}"
                value="{{subfield1Value}}"
              />
            {{else}}
              <span class="ds-header-sub-value">{{subfield1Value}}</span>
            {{/if}}
          </div>
        {{/if}}

        {{#if subfield2CheckboxName}}
          <div class="ds-header-sub-field ds-header-sub-checkbox-field">
            <input
              class="ds-header-sub-checkbox"
              type="checkbox"
              name="{{subfield2CheckboxName}}"
              {{#if subfield2CheckboxValue}}checked{{/if}}
            />
            <label class="ds-header-sub-label">{{subfield2Label}}</label>
          </div>
        {{else if subfield2Label}}
          <div class="ds-header-sub-field">
            <span class="ds-header-sub-label">{{subfield2Label}}</span>
            <span class="ds-header-sub-value">{{subfield2Value}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>
