<section class="ds-actor-header">
  <table class="ds-actor-header-table">
    <tr>
      <td class="ds-header-image-cell" rowspan="3">
        <div class="ds-header-image-box">
          <img
            class="ds-header-image {{#if editableImage}}is-editable{{/if}}"
            src="{{actor.img}}"
            alt="{{actor.name}}"
            data-action="editPortrait"
            title="{{#if editableImage}}Change portrait{{else}}{{actor.name}}{{/if}}"
          />
        </div>
      </td>

      <td class="ds-header-name-cell" colspan="{{nameColspan}}">
        <input
          class="ds-header-name-input"
          type="text"
          name="name"
          value="{{actor.name}}"
          placeholder="Actor Name"
        />
      </td>

      <td class="ds-header-level-label-cell">
        {{levelLabel}}
      </td>

      <td class="ds-header-level-value-cell">
        <input
          class="ds-header-level-input"
          type="number"
          name="{{levelName}}"
          value="{{levelValue}}"
          min="0"
          step="1"
        />
      </td>

      {{#if extraField}}
        <td class="ds-header-level-label-cell">
          {{extraField.label}}
        </td>

        <td class="ds-header-level-value-cell">
          <input
            class="ds-header-level-input"
            type="number"
            name="{{extraField.name}}"
            value="{{extraField.value}}"
            min="0"
            step="1"
          />
        </td>
      {{/if}}
    </tr>

    <tr>
      <td class="ds-stat-label-cell">Move</td>
      <td class="ds-stat-label-cell">Fight</td>
      <td class="ds-stat-label-cell">Shoot</td>
      <td class="ds-stat-label-cell">Armour</td>
      <td class="ds-stat-label-cell">Will</td>
      <td class="ds-stat-label-cell">Health</td>
      <td class="ds-stat-label-cell" colspan="2">Current</td>
    </tr>

    <tr>
      <td class="ds-stat-value-cell">
        <input class="ds-stat-input" type="number" name="system.stats.move" value="{{actor.system.stats.move}}" step="1" />
      </td>

      <td class="ds-stat-value-cell">
        <input class="ds-stat-input" type="number" name="system.stats.fight" value="{{actor.system.stats.fight}}" step="1" />
      </td>

      <td class="ds-stat-value-cell">
        <input class="ds-stat-input" type="number" name="system.stats.shoot" value="{{actor.system.stats.shoot}}" step="1" />
      </td>

      <td class="ds-stat-value-cell">
        <input class="ds-stat-input" type="number" name="system.stats.armour" value="{{actor.system.stats.armour}}" step="1" />
      </td>

      <td class="ds-stat-value-cell">
        <input class="ds-stat-input" type="number" name="system.stats.will" value="{{actor.system.stats.will}}" step="1" />
      </td>

      <td class="ds-stat-value-cell">
        <input class="ds-stat-input" type="number" name="system.stats.health.max" value="{{actor.system.stats.health.max}}" min="0" step="1" />
      </td>

      <td class="ds-stat-value-cell" colspan="2">
        <input class="ds-stat-input ds-stat-input-current" type="number" name="system.stats.health.current" value="{{actor.system.stats.health.current}}" min="0" step="1" />
      </td>
    </tr>
  </table>
</section>
